.cardContainer {
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 1000px ){
  .cardContainer {
    width: 100%;
  }
}
.mr15 {
  margin-right: 15px;
}
.mr10 {
  margin-right: 5px;
}
.cursorPointer {
  cursor: pointer;
}
.btnContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.mb10 {
  margin-bottom: 10px;
}